.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productCard{
    width: 200px;
    height: 300px;
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.iconleft{
    position: absolute;
    top: -3px;
    left: 5px;
}
.iconright img{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}
.productView{
    background-size: cover;
}
.card{
    margin-left: 0px !important;
    margin-right: 0px !important;    
}






