.productCard{
    max-width: 250px;
    max-height: 350px;
    display: flex;
    align-items: center;
  }
.icon{
    position: absolute;
    top: -3px;
    left: 5px;
}
.productView{
    background-size: cover;
}




